body {
    font-family: 'Comfortaa', cursive;
    color: #333;
    margin: 0;
    box-sizing: border-box;
    background-color: #f4f5f7;
}

.container {
    margin-left: 50px;
    margin-right: 30px;
    box-sizing: border-box;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0px;
    border-top: 1px solid #eee;
}

h2 {
    margin-top: 25px;
    margin-bottom: 8px;
}

span {
    color: #d70f64;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.far {
    color: #d70f64;
}

.fas {
    color: #d70f64;
}

li {
    display: inline-block;
    margin: 0px 10px;
    line-height: 23px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 8px 0 rgba(0, 0, 0, 0.19);
    top: 0;
    z-index: 1200;
    position: fixed;
    width: 100%;
    transition: top 200ms;
}

header li>a {
    padding: 0 2em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: #d70f64;
}

header ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#check-sign ::before {
    content: "✓";
    color: #d70f64;
}

#check-sign li {
    display: block;
}

#hidden {
    background-color: #f4f5f7;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

#hidden:hover {
    background-color: #ddd;
}

#show {
    display: none;
}

#logo {
    height: 70px;
}

header li {
    border-left: 1px solid rgb(235, 235, 235);
    display: inline-block;
}

#top {
    padding-bottom: 85px;
    background-image: url(images/newtop1.jpg);
    background-repeat: no-repeat;
    background-color: #f4f5f7;
    background-position: right 2% bottom 35%;
}

.top-heading {
    padding: 80px 0 48px 0;
    margin-bottom: 20px;
}

.top-form {
    padding: 16px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    margin-inline-end: 330px;
    display: flex;
    justify-content: flex-start;
}

.form-search {
    display: contents;
}

h1 {
    margin: 65px 0px 0px;
    font-size: 2.3em;
}

input {
    width: 85%;
    padding: 30px 18px;
    margin: 3px 2px;
    height: 50px;
    box-sizing: border-box;
}

.btn {
    margin-left: 10px;
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
}

.start,
.subscribe-section .start {
    padding: 15px 45px;
    color: #fff;
    background-color: #D70F64;
    border-color: #D70F64;
    cursor: pointer;
    border: 1px solid;
    text-transform: uppercase;
    font-weight: 700;
    position: inherit;
    left: 320px;
}

#heading h2 {
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-top: 70px;
}

#intro {
    background-image: url(images/intro1.jpg);
    background-position: center bottom 35%;
    background-size: cover;
    margin-block-end: 16em;
    margin-left: -70px;
}

#white-block {
    margin-left: 25px;
    width: 500px;
    left: 48px;
    bottom: -200px;
    padding: 24px;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 6px 8px 1px rgba(191, 181, 181, 0.45);
}

p {
    padding-top: 10px;
    margin: 16px 0 24px;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    font-family: 'Varela Round', sans-serif;
}

.download-details {
    background-color: #d70f64;
    margin-left: -70px;
    color: white;
}

.download-container {
    padding: 60px;
    width: 50%;
}

.download-para {
    padding-top: 50px;
}

.download-heading {
    font-weight: 400;
}

.fab {
    font-size: 18px;
    color: #424242;
    opacity: 0.6;
}

#store .wrap .wrap-style .fab {
    font-size: 40px;
    color: #fff;
    opacity: 1;
}

#store .wrap .wrap-style {
    padding: 5px 2px;
    font-size: 12px;
    margin-top: 5px;
}

#store .wrap {
    display: flex;
}

#store {
    margin-right: 15px;
    padding: 0px 9px 0px 2px;
    background: transparent;
    border: 1px solid #eee;
    color: #eee;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.image {
    background-image: url(images/download-image.png);
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    margin-top: -80px;
    margin-left: 50%;
    width: 50%;
    max-height: 480px;
    background-size: auto 513px;
    background-position-x: left
}

#office-detail {
    background-image: url(images/office-lunch.jpg);
    background-repeat: no-repeat;
    background-position: center bottom 60%;
    background-size: cover;
    margin-bottom: 9em;
    height: 350px;
    margin-left: -70px;
}

.sm {
    margin-right: 20px;
}

#some-info {
    display: flex;
    justify-content: center;
}

#some-info fieldset {
    height: 55px;
    margin: 1px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
}

#list-of-cities ul {
    display: flex;
    flex-wrap: wrap;
}

.khi {
    background-image: url(images/karachi.jpg);
}

.lhr {
    background-image: url(images/lahore.jpg);
}

.isl {
    background-image: url(images/islamabad.jpg);
}

.pes {
    background-image: url(images/peshawar.jpg);
}

.pano {
    background-image: url(images/pano-aqil.jpg);
}

.fsl {
    background-image: url(images/FAisalabad-clock-tower.jpg);
}

.hyd {
    background-image: url(images/hyderabad-getty.jpg);
}

.deraghazi {
    background-image: url(images/dera-ghazi-khan.jpg);
}

.mul {
    background-image: url(images/multan.jpg);
}

.jhlm {
    background-image: url(images/Jhelum.jpg);
}

.guj {
    background-image: url(images/gujranwala.jpg);
}

.mangla {
    background-image: url(images/mangla.jpg);
}

.mardan {
    background-image: url(images/mardan.jpg);
}

.murree {
    background-image: url(images/murree.jpg);
}

.bhwlpur {
    background-image: url(images/bhawalpur.jpg);
}

.abttabd {
    background-image: url(images/abbottabad.jpg);
}

.kamoke {
    background-image: url(images/kamoke.jpg);
}

.larkna {
    background-image: url(images/larkana.jpg);
}

.okara {
    background-image: url(images/okara.jpg);
}

.sukkur {
    background-image: url(images/sukkur.jpg);
}

.sialkot {
    background-image: url(images/sialkot.jpg);
}

.sarg {
    background-image: url(images/sargodha.jpg);
}

.sahiwal {
    background-image: url(images/sahiwal.jpg);
}

.rawlpndi {
    background-image: url(images/rawalpindi.jpg);
}

.rahim {
    background-image: url(images/rahim-yar-khan.jpg);
}


/* .khi, .lhr, .isl, .pes, .pano , .guj, .fsl, .hyd, .deraghazi,
.mul, .jhlm, .mangla, .mardan, .murree, .bhwlpur,
.abttabd, .kamoke, .larkna, .okara, .sukkur, .sialkot , 
.sarg , .sahiwal, .rawlpndi, .rahim, .wah{ */

figure {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    margin: 8px 10px;
    transition: height 1s;
}

figure:hover {
    height: 210px;
}

.arrow .fas {
    color: #fff;
    padding: 11px 12px;
}

.arrow {
    float: right;
    border: none;
    background-color: #D70F64;
    opacity: 0;
    text-align: right;
    transition: 300ms;
}

.wrap {
    display: inline;
}

.wrap li {
    margin: 0;
    display: inline;
}

.city-letter {
    display: block;
    width: 132px;
    height: 122px;
    font-size: 200px;
    font-weight: 700;
    line-height: .52em;
    color: #D70F64;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 300ms;
    margin-left: -22px;
    z-index: -1;
}

.city-name {
    position: absolute;
    z-index: 1;
    bottom: 0;
    text-align: left;
    width: 97%;
    padding-left: 7px;
    color: #fff;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.32));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.city-name:hover,
.wrap:hover .arrow {
    color: #fff;
    opacity: 1;
}

.wrap:hover .city-letter {
    opacity: 0.6;
}

#cities,
#e-mail {
    padding: 12px 30px;
    margin: 0px;
    height: 42px;
    width: 100%;
    font-size: 15px;
}

.subscribe-section {
    display: flex;
    justify-content: center;
}

#foot {
    text-align: right;
    width: 50%;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
}

.footer-logo img {
    margin-top: 18px;
    height: 40px;
}

footer ul {
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
}

.chain {
    margin-bottom: 25px;
    font-size: 13px;
    color: #666;
}

li :hover,
.footer-sm:hover {
    color: #D70F64;
    border-color: #D70F64;
    cursor: pointer;
}

.footer-sm li,
.sm li {
    margin: 0;
}

.footer-sm {
    margin-top: 10px;
    color: #d4bbbb;
    border-radius: 70%;
    border: 1px solid #8c7d7d;
    padding: 4px 6px 0px 6px;
    margin-left: 6px;
    margin-bottom: 6px;
}

.footer-center {
    text-align: center;
    color: #333333;
}

@media only screen and (max-width: 786px) {
    h2,
    #heading h2 {
        font-size: 22px;
    }
    .container {
        margin-left: 25px;
        margin-right: 25px;
    }
    .top-heading {
        margin-bottom: 50px;
        padding: 70px 0 20px 0;
    }
    header,
    header ul,
    .nav-list nav {
        text-align: center;
        display: block;
        width: 100%;
    }
    #list-of-cities ul {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 5px;
    }
    .image {
        background-position-x: center;
        margin: 0px;
        width: 100%;
        margin-top: -80px;
        background-size: auto 280px;
    }
    .download-details {
        margin-top: 90px;
    }
    .download-container {
        padding: 155px 90px 35px 70px;
        width: 78%;
    }
    #unique-head {
        display: none;
    }
    .download-para {
        padding-top: 20px;
    }
    .subscribe-section,
    #some-info {
        display: block;
        width: 100%;
    }
    #logo {
        height: 45px;
    }
    header ul {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .top-form {
        width: 90%;
        display: block;
        box-shadow: none;
        background-color: transparent;
    }
    #white-block {
        align-items: center;
        width: 80%;
        display: block;
        bottom: -175px;
    }
    .btn {
        margin-left: 0;
        margin-top: 0px;
    }
    .start,
    .form-search input {
        left: 0;
        width: 100%;
        align-items: center;
    }
    #instruction p,
    #check-sign {
        font-size: 15px;
    }
    .footer-sm {
        display: inline-block;
    }
    #foot {
        text-align: center;
        width: 100%;
        padding: 0px;
    }
}

@media (max-width:480px) {
    .container {
        margin-left: 5px;
        margin-right: 5px;
    }
    h1 {
        font-size: 1.3em;
    }
    h2,
    #heading h2 {
        font-size: 20px;
    }
    .top-heading {
        margin-bottom: 30px;
        font-size: 1.3em;
    }
    .download-container {
        padding-left: 80px;
        padding-top: 166px;
        padding-bottom: 20px;
        padding-right: 0px;
    }
    #store {
        width: 100%;
        margin-right: 4px;
    }
    #white-block {
        align-items: center;
        width: 70%;
        display: block;
        bottom: -200px;
        margin-left: 25px;
    }
    .app-store {
        display: flex;
    }
    #instruction {
        padding-top: 40px;
    }
}